[tool.poetry]
name = "pyaurorax"
version = "0.5.2"
description = "Python library for interacting with the AuroraX API"
readme = "README.md"
homepage = "https://github.com/ucalgary-aurora/pyaurorax"
repository = "https://github.com/ucalgary-aurora/pyaurorax"
authors = ["Darren Chaddock <dchaddoc@ucalgary.ca>"]
maintainers = ["Darren Chaddock <dchaddoc@ucalgary.ca>"]
license = "MIT"
packages = [
    { include = "aurorax" },
]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.25.1"
flake8 = "^3.8.4"
pydantic = "^1.7.3"
humanize = "^3.2.0"
aacgmv2 = "^2.6.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
tabulate = "^0.8.7"
mypy = "^0.790"
pylint = "^2.6.0"
bandit = "^1.7.0"
autopep8 = "^1.5.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
