[tool.poetry]
name = "pyaurorax"
version = "0.1.0"
description = "Python library for interacting with the AuroraX API"
authors = ["Darren Chaddock <dchaddoc@ucalgary.ca>"]
maintainers = ["Darren Chaddock <dchaddoc@ucalgary.ca>"]
license = "MIT"
packages = [
    { include = "aurorax" },
]

[tool.poetry.dependencies]
python = "^3.5"
flake8 = "^3.8.3"
requests = "^2.24.0"
humanize = "^2.6.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
mypy = "^0.782"
pylint = "^2.6.0"
bandit = "^1.6.2"
coverage = "^5.2.1"
tabulate = "^0.8.7"
autopep8 = "^1.5.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
