[tool.poetry]
name = "aurorax"
version = "0.1.0"
description = ""
authors = ["Darren Chaddock <dchaddoc@ucalgary.ca>"]

[tool.poetry.dependencies]
python = ">=3.5"
flake8 = "^3.8.3"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
